body {
    font-family: Sans-Serif;
    margin: 0;
    padding: 0;
    background-color: gray;

    user-select: none;
    position: fixed;
    overflow: hidden;
}
canvas {
    overflow: hidden;
}

.no-select {
    user-select: none;
}

#cy {
    width: 100%;
    height: 100%;
    position: fixed;
}

.menu-frame button {
    background-color: white;
    border: 1px solid black;
    padding: 5px;
    margin: 5px;
    cursor: pointer;
}

#editor-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    border-radius: 10px;
    z-index: 1000;
}


.resize-grip {
    position: absolute;
    width: 10px;
    height: 10px;
    z-index: 1000;
    /*background-color: #fff;
    border: 1px solid #000;*/
}
.resize-grip:hover {
    background-color: rgba(100, 100, 255, 0.5);
    border: 1px solid yellow;
}

.resize-grip-top-left {
    cursor: nwse-resize;
    top: -5px;
    left: -5px;
}

.resize-grip-top-right {
    cursor: nesw-resize;
    top: -5px;
    right: -5px;
}

.resize-grip-bottom-left {
    cursor: nesw-resize;
    bottom: -5px;
    left: -5px;
}

.resize-grip-bottom-right {
    cursor: nwse-resize;
    bottom: -5px;
    right: -5px;
}


.node-content {
    user-select: auto;
    position: absolute;
    display: inline;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 4px;
    background-color: white;
}

.node-content-inner {
    min-width: 50px;
    min-height: 20px;
    outline: none;
}

.node-menu-frame {
    position: absolute;
    top: -1em; /* Align to the top of the window */
    height: 1em;
    display: flex;
    background-color: transparent; /* Optional: makes the frame less obtrusive */
}

.node-menu-frame button {
    font-size: 75%;
    padding: 0;
    margin: 0;
    border-radius: 0; /* Remove rounded corners */
}
.node-content:hover .node-menu-frame {
    opacity: 1;
}

.node-menu-frame button:hover {
    background-color: #604040;
}


/* General Modal Styling */
#transformer-ui {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: none; /* Initially hidden */
    z-index: 2000;
}


iframe {
    border: 1px solid #ccc;
    box-shadow: 0 0 8px rgba(0,0,0,0.1);
}

/* Button Styling */
button {
    user-select: none;
    border-radius: 3px;
    cursor: pointer;
    /*transition: background-color 0.3s ease-in-out;*/
}

/*button:hover {
    background-color: #0056b3;
}*/

/* Input and Select Focus */
input:focus, select:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.25);
}

/* Feedback Animation */
@keyframes feedback-appear {
    from { transform: translateY(-20px); opacity: 0; }
    to { transform: translateY(0); opacity: 1; }
}

.feedback-message {
    animation: feedback-appear 0.5s ease-in-out forwards;
    position: fixed;
    bottom: 20px;
    left: 20px;
    background: #28a745;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
}
