.frame {
    position: relative;
    border: 1px solid #ccc;
}

.content-container {
    user-select: text;
}

.array-container {
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 10px;
}

.array-header {
    font-weight: bold;
    margin-bottom: 5px;
}

.array-item-list {
    list-style-type: none;
    padding-left: 20px;
}

.array-item {
    margin-bottom: 10px;
}

.array-item > .frame {
    margin-left: 20px;
}